@import url("https://use.typekit.net/rcr1opg.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  display: block;
  font-size: 18px;
}

body {
  background: linear-gradient(
    176deg,
    rgba(41, 43, 48, 1) 40%,
    rgba(32, 39, 55, 1) 100%
  );
  min-height: 100vh;
  background-attachment: fixed;
  @include scrollbar;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-display font-normal text-white text-2xl;
}

p {
  @apply font-display font-normal text-white;
}

.container {
  @apply max-w-screen-2xl mx-auto px-3 md:px-8;
}

.unity-container {
  @apply max-w-screen-lg w-[960px] h-[600px] mx-auto;
}

.button-submit {
  @apply m-2 p-2 text-center font-display capitalize bg-green hover:bg-opacity-90 active:bg-blue border border-green text-black;
}

.input-text {
  @apply font-display text-black;
}
